<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewData["Title"] - Control de Gastos</title>

    <!-- Custom fonts for this template-->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    
    <!-- DevExtreme CSS -->
    <link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/latest/css/dx.light.css" />
    
    @await RenderSectionAsync("Styles", required: false)
</head>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        @if (User?.Identity?.IsAuthenticated == true)
        {
            <!-- Sidebar -->
            <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
                <!-- Sidebar - Brand -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("Index", "Home")">
                    <div class="sidebar-brand-icon rotate-n-15">
                        <i class="fas fa-coins"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">FinanSys</div>
                </a>

                <!-- Divider -->
                <hr class="sidebar-divider my-0">

                <!-- Nav Item - Dashboard -->
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Home")">
                        <i class="fas fa-fw fa-home"></i>
                        <span>Inicio</span>
                    </a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider">

                <!-- Heading -->
                <div class="sidebar-heading">
                    Mantenimientos
                </div>

                <!-- Nav Item - Tipos de Gasto -->
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "TiposGasto")">
                        <i class="fas fa-fw fa-tags"></i>
                        <span>Tipos de Gasto</span>
                    </a>
                </li>

                <!-- Nav Item - Fondos -->
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Fondos")">
                        <i class="fas fa-fw fa-wallet"></i>
                        <span>Fondos</span>
                    </a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider">

                <!-- Heading -->
                <div class="sidebar-heading">
                    Movimientos
                </div>

                <!-- Nav Item - Presupuestos -->
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Presupuestos")">
                        <i class="fas fa-fw fa-chart-pie"></i>
                        <span>Presupuestos</span>
                    </a>
                </li>

                <!-- Nav Item - Gastos -->
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Gastos")">
                        <i class="fas fa-fw fa-money-bill-wave"></i>
                        <span>Gastos</span>
                    </a>
                </li>

                <!-- Nav Item - Depósitos -->
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Depositos")">
                        <i class="fas fa-fw fa-hand-holding-usd"></i>
                        <span>Depósitos</span>
                    </a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider">

                <!-- Heading -->
                <div class="sidebar-heading">
                    Reportes
                </div>

                <!-- Nav Item - Reportes -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseReportes"
                        aria-expanded="true" aria-controls="collapseReportes">
                        <i class="fas fa-fw fa-chart-bar"></i>
                        <span>Reportes</span>
                    </a>
                    <div id="collapseReportes" class="collapse" aria-labelledby="headingReportes" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Reportes Disponibles:</h6>
                            <a class="collapse-item" href="@Url.Action("Movimientos", "Reportes")">Movimientos</a>
                            <a class="collapse-item" href="@Url.Action("ComparativoPresupuestos", "Reportes")">Comparativo de Presupuestos</a>
                        </div>
                    </div>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider d-none d-md-block">

                <!-- Sidebar Toggler (Sidebar) -->
                <div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                </div>
            </ul>
            <!-- End of Sidebar -->
        }

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                @if (User?.Identity?.IsAuthenticated == true)
                {
                    <!-- Topbar -->
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                        <!-- Sidebar Toggle (Topbar) -->
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>

                        <!-- Topbar Navbar -->
                        <ul class="navbar-nav ml-auto">
                            <div class="topbar-divider d-none d-sm-block"></div>

                            <!-- Nav Item - User Information -->
                            <li class="nav-item dropdown no-arrow">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">@User.Identity.Name</span>
                                    <img class="img-profile rounded-circle" src="~/img/undraw_profile.svg">
                                </a>
                                <!-- Dropdown - User Information -->
                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                    aria-labelledby="userDropdown">
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="@Url.Action("Logout", "Account")">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Cerrar Sesión
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                    <!-- End of Topbar -->
                }

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    @RenderBody()
                </div>
                <!-- End of Page Content -->
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Control de Gastos @DateTime.Now.Year . - Desarrollado por Luis Alfonso Reales Guerra</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Core JavaScript-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/js/sb-admin-2.min.js"></script>
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- DevExtreme -->
    <script src="https://cdn3.devexpress.com/jslib/23.2.3/js/dx.all.js"></script>
    @RenderSection("Scripts", required: false)
    <script>
        // Sobrescribir mensajes de validación de jQuery Validate a español
        if (window.jQuery && window.jQuery.validator) {
            window.jQuery.extend(window.jQuery.validator.messages, {
                number: "El campo debe ser un número válido.",
                required: "Este campo es requerido.",
                invalid: "El valor ingresado no es válido."
            });
        }

        // Cerrar cualquier menú lateral después de hacer clic en un enlace
        $(document).ready(function() {
            // Capturar clics en todos los enlaces de menús laterales
            $('.sidebar a, .navbar-nav a').on('click', function() {
                if (window.innerWidth < 768) {
                    // Cerrar el sidebar principal
                    $('body').removeClass('sidebar-toggled');
                    $('.sidebar').removeClass('toggled');
                    
                    // Cerrar cualquier otro menú lateral
                    $('.navbar-collapse').removeClass('show');
                    $('.collapse').removeClass('show');
                }
            });
        });
    </script>
</body>
</html>